<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test"> 
    <classes>
      <class name="com.qa.OrangeHRM.Test.LoginPageTest"/>
      <!-- <class name="com.qa.OrangeHRM.Test.HomePageTest"/>
      <class name="com.qa.OrangeHRM.Test.AddEmployeePageTest"/>
      <class name="com.qa.OrangeHRM.Test.PersonalDetailsPageTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->